button {
  width: 62px;
  height: 62px;
  background: #33333357;
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
  font-size: 28px;
  font-weight: 300;
  cursor: pointer;
  margin-bottom: 7px;
  user-select: none;
  border: none;
  outline: none;
  font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
}
button:hover {
  filter: contrast(80%)
}

button:active {
  filter: contrast(120%)
}
