<section class="about section" id="about">
  <h2 class="section__title">PERSONAL INFO</h2>

  <div class="about__container grid">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aliquam ea incidunt quas qui tempora. Deserunt
      iure perferendis quidem unde?
    </p>

    <a class="about__button" download="" href="">
      Download CV <i class="ri-download-line"></i>
    </a>

    <ul class="about__social">
      <li>
        <a class="about__social-link" href="https://github.com/" target="_blank">GitHub
          <i class="ri-github-fill"></i>
          (Vanya754)
        </a>
      </li>

      <li>
        <a class="about__social-link"
           href="https://instagram.com/smells_like_te.en_spirit?igshid=NGVhN2U2NjQ0Yg=="
           target="_blank">Instagram
          <i class="ri-instagram-line"></i>
          (smells_like_te.en_spirit)
        </a>
      </li>

      <li>
        <a class="about__social-link" href="https://web.telegram.org" target="_blank">Telegram
          <i class="ri-telegram-line"></i>
          (@smells_like_te_en_spirit)
        </a>
      </li>
    </ul>
  </div>
</section>
