<!--==================== FOOTER ====================-->
<footer class="footer">
  <div class="footer__container grid">
    <div>
      <h3 class="footer__title">PHONE <i class="ri-phone-line"></i></h3>
      <span class="footer__info">(+380 97 33 41 850)</span>
    </div>

    <div>
      <h3 class="footer__title">EMAIL <i class="ri-mail-line"></i></h3>
      <span class="footer__info">(fetkoivan2402@gmail.com)</span>
    </div>

    <div>
      <h3 class="footer__title">WEBSITE <i class="ri-link"></i></h3>
      <a class="footer__link" href="#" target="_blank">--------------</a>
    </div>
  </div>
</footer>
