<section class="home" id="home">
  <div class="home__container grid">
    <h1 class="home__name">
      HELLO, I'M <br>
      IVAN FETKO
    </h1>

    <div class="home__blob">
      <div class="home__perfil">
        <img alt="home image" class="home__img" src="../../../../../assets/images/perfil.jpeg">
      </div>

      <svg class="home__star-1" viewBox="0 0 50 50" xmlns="http://www.w3.org/2000/svg">
        <path d="M25 0L31.7523 18.2477L50 25L31.7523 31.7523L25
             50L18.2477 31.7523L0 25L18.2477 18.2477L25 0Z"/>
      </svg>


      <svg class="home__star-2" viewBox="0 0 50 50" xmlns="http://www.w3.org/2000/svg">
        <path d="M25 0L31.7523 18.2477L50 25L31.7523 31.7523L25
              50L18.2477 31.7523L0 25L18.2477 18.2477L25 0Z"/>
      </svg>
    </div>

    <h1 class="home__profession">
      FRONTEND <br>
      DEVELOPER
    </h1>
  </div>
</section>
