
.calculator {
  width: 300px;
  height: 480px;
  border-radius: 20px;
  box-shadow: 0 0 12px var(--text-color);
  background: #080808;
  color: #fff;
  padding: 14px;
  margin: 30px auto 0 auto;
  user-select: none;
  border: 8px solid var(--text-color);
}

.buttonsDiv {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 3px;
}

@media screen and (max-width: 767px) {
  .calculator {
    margin-top: 86px;
    margin-bottom: 200px;

  }
}


