<header>
  <a class="logo" href="/"></a>
  <div *ngIf="auth.isAuthenticated()" style="display: flex">
    <div [routerLink]="'/profile'" class="group">
      <span *ngIf="auth.isAuthenticated()">{{ user?.name }}</span>
      <span class="pi pi-user" style="margin-left: 5px; font-size: 30px"></span>
    </div>
    <p-button
      (onClick)="logOut()"
      [style]="{
        padding: '8px',
        color: '#333333',
        background: 'lightblue',
        border: '1.5px solid #000'
      }"
    ><span class="pi pi-sign-out" style="font-size: 1.6rem"></span
    ></p-button>
  </div>
</header>


