<section class="skills section" id="skills">

  <div class="skills__container">
    <h2 class="section__title">Tech SKILLS</h2>
    <div class="skills__content">
      <ul class="skills__list">
        <li class="resume__title">
          <i class="ri-arrow-drop-right-line"></i> HTML & CSS
        </li>

        <li class="resume__title">
          <i class="ri-arrow-drop-right-line"></i> JavaScript
        </li>

        <li class="resume__title">
          <i class="ri-arrow-drop-right-line"></i> TypeScript
        </li>

        <li class="resume__title">
          <i class="ri-arrow-drop-right-line"></i> Angular
        </li>

        <li class="resume__title">
          <i class="ri-arrow-drop-right-line"></i> WebStorm
        </li>
      </ul>
      <ul class="skills__list">
        <li class="resume__title">
          <i class="ri-arrow-drop-right-line"></i> Git & GitHub
        </li>

        <li class="resume__title">
          <i class="ri-arrow-drop-right-line"></i> English (B1)
        </li>

        <li class="resume__title">
          <i class="ri-arrow-drop-right-line"></i> Figma
        </li>

        <li class="resume__title">
          <i class="ri-arrow-drop-right-line"></i> OOP
        </li>

        <li class="resume__title">
          <i class="ri-arrow-drop-right-line"></i>VisualStudioCode
        </li>
      </ul>

    </div>
  </div>

  <div class="skills__container">
    <h2 class="section__title">Soft SKILLS</h2>
    <div class="skills__content">
      <ul class="skills__list">
        <li class="resume__title">
          <i class="ri-arrow-drop-right-line"></i> HTML & CSS
        </li>

        <li class="resume__title">
          <i class="ri-arrow-drop-right-line"></i> JavaScript
        </li>

        <li class="resume__title">
          <i class="ri-arrow-drop-right-line"></i> TypeScript
        </li>

        <li class="resume__title">
          <i class="ri-arrow-drop-right-line"></i> Angular
        </li>
      </ul>
      <ul class="skills__list">
        <li class="resume__title">
          <i class="ri-arrow-drop-right-line"></i> Git & GitHub
        </li>

        <li class="resume__title">
          <i class="ri-arrow-drop-right-line"></i> English (B1)
        </li>

        <li class="resume__title">
          <i class="ri-arrow-drop-right-line"></i> Figma
        </li>
      </ul>

    </div>
  </div>
</section>
