<section class="skills section" id="skills">
  <h2 class="section__title">SKILLS</h2>

  <div class="skills__container">
    <div class="skills__content">
      <ul class="skills__list">
        <li class="resume__title">
          <i class="ri-arrow-drop-right-line"></i> HTML & CSS
        </li>

        <li class="resume__title">
          <i class="ri-arrow-drop-right-line"></i> JavaScript
        </li>

        <li class="resume__title">
          <i class="ri-arrow-drop-right-line"></i> TypeScript
        </li>

        <li class="resume__title">
          <i class="ri-arrow-drop-right-line"></i> Angular
        </li>
      </ul>
      <ul class="skills__list">
        <li class="resume__title">
          <i class="ri-arrow-drop-right-line"></i> Git & GitHub
        </li>

        <li class="resume__title">
          <i class="ri-arrow-drop-right-line"></i> English (B1)
        </li>

        <li class="resume__title">
          <i class="ri-arrow-drop-right-line"></i> Figma
        </li>
      </ul>

    </div>
  </div>
</section>
