<section class="projects section" id="projects">
  <h2 class="section__title">PROJECTS</h2>

  <div class="projects__container grid">
    <div>
      <h2 class="resume__title">
        <i class="ri-arrow-drop-right-line">Watches</i>
      </h2>
      <i [routerLink]="['/watches']" class="ri-arrow-left-circle-fill"></i>
      <div class="resume__data">
        <span> (February 2023  - September 2023)</span>
      </div>
    </div>

    <div>
      <h2 class="resume__title">
        <i class="ri-arrow-drop-right-line">Calculator</i>
      </h2>
      <i [routerLink]="['/calculator']" class="ri-arrow-left-circle-fill"></i>
      <div class="resume__data">
        <span>(February 2023  - September 2023)</span>

        <p></p>
      </div>
    </div>

    <div>
      <h2 class="resume__title">
        <i class="ri-arrow-drop-right-line">Movies</i>
      </h2>
      <i [routerLink]="['/watches']" class="ri-arrow-left-circle-fill"></i>
      <div class="resume__data">
        <span>(February 2023  - September 2023)</span>

        <p></p>
      </div>
    </div>

    <div>
      <h2 class="resume__title">
        <i class="ri-arrow-drop-right-line">Todo List</i>
      </h2>
      <i [routerLink]="['/watches']" class="ri-arrow-left-circle-fill"></i>
      <div class="resume__data">
        <span>(February 2023  - September 2023)</span>

        <p></p>
      </div>
    </div>


    <div>
      <h2 class="resume__title">
        <i class="ri-arrow-drop-right-line">Snake game</i>
      </h2>
      <i [routerLink]="['/watches']" class="ri-arrow-left-circle-fill"></i>
      <div class="resume__data">
        <span>(February 2023  - September 2023)</span>
        <p></p>
      </div>
    </div>
  </div>
</section>
