<div class="resume container">
  <app-header></app-header>

  <!--==================== MAIN ====================-->
  <main class="resume__main">

    <app-home></app-home>
    <!--    <div class="resume__left">    </div>-->
    <app-about></app-about>
    <app-skills></app-skills>
    <app-education></app-education>
    <app-projects></app-projects>

    <!--    <div class="resume__right">    </div>-->


    <!--==================== CERTIFICATES ====================-->
    <section class="certificates section">

    </section>

    <!--==================== REFERENCES ====================-->
    <section class="references section">

    </section>

  </main>

  <!--==================== FOOTER ====================-->
  <footer class="footer">

  </footer>
</div>
<router-outlet></router-outlet>
