<div class="resume container">
  <app-header></app-header>

  <!--==================== MAIN ====================-->
  <main class="resume__main">

    <app-home></app-home>
    <div class="resume__left">
      <app-about></app-about>
      <app-skills></app-skills>
      <app-education></app-education>
    </div>

    <div class="resume__right">
      <!--==================== WORK ====================-->
      <section class="work section" id="work">

      </section>

      <!--==================== CERTIFICATES ====================-->
      <section class="certificates section">

      </section>

      <!--==================== REFERENCES ====================-->
      <section class="references section">

      </section>
    </div>
  </main>

  <!--==================== FOOTER ====================-->
  <footer class="footer">

  </footer>
</div>
<router-outlet></router-outlet>
