<section class="about section " id="about">
  <h2 class="section__title">PERSONAL INFO</h2>

  <div class="about__container grid">
    <p>
      Hello! My name is Ivan Fetko, and I'm currently a fourth-year student at Uzhgorod National University, pursuing a
      degree in the Faculty of Law. I live in Ukraine.

      About six months ago, I started taking IT courses, fascinated by the endless possibilities in this field. I'm
      interested not only in IT but also in actively developing my skills and achieving success in this industry.

      Outside of my academic pursuits, I have various interests. History and politics have always captivated me. I also
      play the guitar, study English, and engage in sports, with a particular passion for running. Overall, I'm a
      communicative and responsible person who knows how to set goals and achieve them. I firmly believe that an
      employee with my qualities would be a valuable addition to your team. :)
    </p>

    <a class="about__button" download="" href="/assets/Fetko%20-%20FrontendDeveloper.pdf">
      Download CV <i class="ri-download-line"></i>
    </a>

    <ul class="about__social">
      <li>
        <a class="about__social-link" href="https://github.com/Vanya754" target="_blank">GitHub
          <i class="ri-github-fill"></i>
        </a>
      </li>

      <li>
        <a class="about__social-link"
           href="https://instagram.com/smells_like_te.en_spirit?igshid=NGVhN2U2NjQ0Yg=="
           target="_blank">Instagram
          <i class="ri-instagram-line"></i>
        </a>
      </li>

      <li>
        <a class="about__social-link" href="https://t.me/smells_like_te_en_spirit" target="_blank">Telegram
          <i class="ri-telegram-line"></i>
        </a>
      </li>
    </ul>
  </div>
</section>
