<section class="about section " id="about">
  <h2 class="section__title">PERSONAL INFO</h2>

  <div class="about__container grid">
    <p>
      Hello! My name is Ivan Fetko. I am a 4th-year student of the Uzhgorod National University, Faculty of Law. I live
      in the city of Uzhhorod, but I come from the charming village of Synevyr. About half a year ago, I started
      studying IT courses, I was interested in this field and I I plan to actively develop and achieve success in it. I
      have many hobbies. I am interested in history, politics, I can play the guitar, I study English, I do sports, I
      especially love running. In general, I am very communicative, responsible, I know how to set goals and achieve
      them .I think such an employee will definitely not be superfluous in your team. :)
    </p>

    <a class="about__button" download="" href="/assets/Fetko%20-%20FrontendDeveloper.pdf">
      Download CV <i class="ri-download-line"></i>
    </a>

    <ul class="about__social">
      <li>
        <a class="about__social-link" href="https://github.com/Vanya754" target="_blank">GitHub
          <i class="ri-github-fill"></i>
        </a>
      </li>

      <li>
        <a class="about__social-link"
           href="https://instagram.com/smells_like_te.en_spirit?igshid=NGVhN2U2NjQ0Yg=="
           target="_blank">Instagram
          <i class="ri-instagram-line"></i>
        </a>
      </li>

      <li>
        <a class="about__social-link" href="https://t.me/smells_like_te_en_spirit" target="_blank">Telegram
          <i class="ri-telegram-line"></i>
        </a>
      </li>
    </ul>
  </div>
</section>
