button {
  font-weight: bold;
  background-color: #969696;
  color: black;
}

button:hover {
  background-color: #D4D4D2;
}

.equal {
  background-color: orange;
  color: #ffffff;
  font-weight: bold;
}

.equal:hover {
  background-color: #fcb75a;
}







