<!--==================== EDUCATION ====================-->
<section class="education section" id="education">
  <h2 class="section__title">EDUCATION</h2>

  <div class="education__container grid">
    <div>
      <h2 class="resume__title">
        <i class="ri-arrow-drop-right-line">
          Lawyer</i>
      </h2>

      <div class="resume__data">
        <span>Uzhgorod National University</span>

        <span>  (2019-I continue to study at the university)  </span>

        <a class="resume__button-link" href="" target="_blank">
          View <i class="ri-external-link-line"></i>
        </a>
      </div>
    </div>

    <div>
      <h2 class="resume__title">
        <i class="ri-arrow-drop-right-line">Frontend Developer</i>
      </h2>

      <div class="resume__data">
        <span>Kursy Mishi</span>

        <span>  (February 2023  - September 2023) </span>

        <a class="resume__button-link" href="" target="_blank">
          View <i class="ri-external-link-line"></i>
        </a>
      </div>
    </div>

    <div>
      <h2 class="resume__title">
        <i class="ri-arrow-drop-right-line">English courses</i>
      </h2>

      <div class="resume__data">
        <span>Profi-Center (Uzhgorod)</span>

        <span>  (June 2023  - I continue to study) </span>

        <a class="resume__button-link" href="" target="_blank">
          View <i class="ri-external-link-line"></i>
        </a>
      </div>
    </div>
  </div>
</section>
