.skills__content,
.skills__list {
  display: grid;
}

.skills__content {
  grid-template-columns: repeat(2, max-content);
  align-items: baseline;
  column-gap: 3rem;
}

.skills__list {
  row-gap: 1rem;
}

.skills__list li {
  margin: 0;
}


