.skills__content,
.skills__list {
  display: grid;
}

.skills__content {
  grid-template-columns: repeat(2, max-content);
  align-items: baseline;
  column-gap: 3rem;
}

.skills__list {
  row-gap: 1rem;
}

.skills__list li {
  margin: 0;
}

.resume__title {
  font-size: var(--normal-font-size);
  display: inline-flex;
  align-items: center;
  margin-bottom: .25rem;
}

resume__title i {
  font-size: 1.5rem;
}
