<header class="header" id="header">
  <nav class="nav container">
    <a class="nav__logo" href="#">Ivan</a>
    <div class="nav__menu">
      <ul class="nav__list">
        <li class="nav__item">
          <a [class.active-link]="activeSectionId === 'home'" class="nav__link active-link" href="#home">
            <i class="ri-home-2-line"></i>
          </a>
        </li>
        <li class="nav__item">
          <a [class.active-link]="activeSectionId === 'about'" class="nav__link active-link" href="#about">
            <i class="ri-user-line"></i>
          </a>
        </li>
        <li class="nav__item">
          <a [class.active-link]="activeSectionId === 'skills'" class="nav__link active-link" href="#skills">
            <i class="ri-file-list-fill"></i>
          </a>
        </li>
        <li class="nav__item">
          <a [class.active-link]="activeSectionId === 'education'" class="nav__link active-link" href="#education">
            <i class="ri-book-line"></i>
          </a>
        </li>
        <li class="nav__item">
          <a [class.active-link]="activeSectionId === 'projects'" class="nav__link active-link" href="#projects">
            <i class="ri-briefcase-line"></i>
          </a>
        </li>
      </ul>
    </div>
    <app-theme-switcher></app-theme-switcher>
  </nav>

</header>

