/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --title-color: hsl(40, 48%, 12%);
  --text-color: hsl(40, 24%, 24%);
  --body-color: hsl(40, 4%, 88%);
  --container-color: hsl(40, 48%, 88%);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Montserrat", sans-serif;
  --biggest-font-size: 1.75rem;
  --h2-font-size: 1.25rem;
  --normal-font-size: .938rem;
  --small-font-size: .875rem;

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1024px) {
  :root {
    --biggest-font-size: 2.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .938rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  background-color: var(--container-color);
  color: var(--text-color);
  transition: background .4s;
}

h1, h2, h3, h4 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.resume__title {
  font-size: var(--normal-font-size);
  display: inline-flex;
  align-items: center;
  margin-bottom: .25rem;
}

.resume__title i {
  font-size: 1.5rem;
}

.resume__data {
  display: grid;
  row-gap: .5rem;
  padding-left: 1.5rem;
  font-size: var(--small-font-size);
}

.resume__button-link {
  width: max-content;
  color: var(--text-color);
  display: inline-flex;
  column-gap: .25rem;
  font-weight: var(--font-semi-bold);
}

.resume__button-link:hover {
  text-decoration: underline;
}

/*=============== THEME ===============*/
.change-theme {
  font-size: 1.5rem;
  color: var(--title-color);
  cursor: pointer;

}

/*========== Variables Dark theme ==========*/
body.dark-theme {
  --title-color: hsl(40, 48%, 90%);
  --text-color: hsl(40, 12%, 70%);
  --body-color: hsl(40, 12%, 16%);
  --container-color: hsl(40, 20%, 8%);
}

/*==========
  Color changes in some parts of
  the website, in dark theme
==========*/
.dark-theme :is(.nav__menu, .scrollup) {
  background-color: hsl(40, 20%, 12%);
}

.dark-theme .home__profession {
  text-shadow: 0 0 6px hsl(40, 20%, 12%);
}

.dark-theme::-webkit-scrollbar {
  background-color: hsl(40, 16%, 15%);
}

.dark-theme::-webkit-scrollbar-thumb {
  background-color: hsl(40, 16%, 25%);
}

.dark-theme::-webkit-scrollbar-thumb:hover {
  background-color: hsl(40, 16%, 35%);
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1500px;
  /*margin-inline: 1.5rem;*/
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.section {
  padding-block: 5rem 1rem;
}

.section__title {
  width: max-content;
  margin: 0 auto 2.5rem;
  font-size: var(--h2-font-size);
  font-weight: var(--font-semi-bold);
  border-bottom: 2px solid var(--title-color);
  padding-bottom: .75rem;
}


/* Active link */
.active-link::after {
  opacity: 1;
  transform: translateY(-4px);
}

/*=============== SCROLL BAR ===============*/
::-webkit-scrollbar {
  width: .6rem;
  border-radius: .5rem;
  background-color: hsl(40, 16%, 75%);
}

::-webkit-scrollbar-thumb {
  border-radius: .5rem;
  background-color: hsl(40, 16%, 55%);
}

::-webkit-scrollbar-thumb:hover {
  background-color: hsl(40, 16%, 35%);
}

/*=============== SCROLL UP ===============*/
.scrollup {
  position: fixed;
  right: 1rem;
  bottom: 10%;
  background-color: var(--container-color);
  box-shadow: 0 4px 16px hsla(40, 48%, 4%, .15);
  display: inline-flex;
  padding: 6px;
  font-size: 1.25rem;
  color: var(--title-color);
  border-radius: .25rem;
  z-index: var(--z-tooltip);
  transition: bottom .4s, transform .4s, background .4s;
}

.scrollup:hover {
  transform: translateY(-.25rem);
}

/* Show Scroll Up */
.show-scroll {
  bottom: 7rem;
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen  and (max-width: 350px) {
  .container {
    margin-inline: 1rem;
  }

  .nav__menu {
    padding-inline: 2rem;
  }

  .home__star-1 {
    left: 0;
  }

  .home__star-2 {
    right: -.5rem;
  }

  .skills__content {
    grid-template-columns: max-content;
    row-gap: 1rem;

  }
}

/* For medium devices */
@media screen  and (min-width: 576px) {
  .nav__menu {
    margin-inline: auto;
  }

  .show-scroll {
    bottom: 3rem;
  }
}

@media screen  and (min-width: 768px) {
  .section {
    padding-top: 2.5rem;
  }

  .section__title {
    margin: 0 0 2rem;
  }

  .resume__main {
    display: flex;
    flex-wrap: nowrap;
  }

  .resume__left,
  .resume__right {
    padding-inline: 1.5rem;

  }
}

/* For large devices */
@media screen  and (min-width: 1024px) {
  body {
    background-color: var(--body-color);
    /*margin-block: 3rem;*/
  }

  .resume {
    background-color: var(--container-color);
    box-shadow: 0 0 48px hsla(40, 48%, 12%, .2);
    /*margin-inline: 4rem;*/
    transition: background .4s;
  }

  .resume__main {
    grid-template-columns: 376px 1fr;
  }

  .dark-theme .resume {
    box-shadow: 0 0 48px hsla(40, 48%, 4%, .4);
  }
}
