/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");

@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";
/*=============== VARIABLES CSS ===============*/
/*Snake*/


.blur {
  filter: blur(4px);
}

.snake {
  background-color: transparent;
  background-image: url("/assets/images/fire-removebg-preview.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
}

.head {
  background-color: transparent;
  background-image: url("/assets/images/racket-removebg-preview.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
}

.food {
  background-color: transparent;
  background-image: url("/assets/images/Fli.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: none;

}

.obstacle {
  background-color: transparent;
  background-image: url("/assets/images/rock-removebg-preview.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
}

/*Movie*/


.oneFilm {
  width: 22vw;
}

.paginationOn {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


@media (max-width: 1040px) {
  .head-info {
    height: 10vw;
  }

  .logo-title {
    font-size: 10vw;
  }

  .search {
    width: 10vw;
    height: 5vw;
  }

  input::placeholder {
    color: gray;
    font-size: 24px;
  }

  button.search {
    font-size: 24px;
  }


  .oneFilm {
    width: 45%;
  }

  .cover-inner {
    background-size: cover;
    width: 100%;
    height: 66vw;
  }

  .rating {
    width: 13%;
    height: 8%;
    font-size: 30px;
  }

  .title {
    font-size: 6vw;
  }

  .genre {
    font-size: 3vw;
  }

  .popup-close {
    font-size: 5vw;
  }

  .num {
    width: 50px;
    height: 50px;
    font-size: 30px;
  }

  .leftArrow,
  .rightArrow {
    width: 50px;
    height: 50px;
    font-size: 30px;
  }

  .popup-content {
    width: 80%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
  }

  .popup-text {
    width: 100%;
    padding: 5px 5px;
    text-align: justify;
    font-size: 4vw;
    overflow-y: scroll;
  }

  .title-popup {
    font-size: 6vw;
  }

  .rating-popup {
    font-size: 5vw;
  }

  .info-span {
    font-size: 5vw;
  }

  .genre-popup {
    font-size: 5vw;
  }

  .release {
    font-size: 5vw;

  }

  .popup-image {
    width: 50%;
  }

  .popup-image img {
    margin: 0 auto;
    width: 100%;
  }

}

@media (max-width: 655px) {
  .logo-title {
    display: none;
  }

  .oneFilm {
    width: 75%;
    height: auto;
  }

  .cover-inner {
    background-size: cover;
    width: 100%;
    height: 125vw;
  }

  .rating {
    left: 4%;
    top: 2%;
  }

  .popup-content {
    max-width: 85%;
  }

  .head-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  input.search {
    width: 100%;
    margin-bottom: 3%;
  }

  .head-info img {
    width: 80%;
  }


  .is-like img {
    width: 50%;
    height: 100%;
  }

  .is-dislike img {
    width: 55%;
  }
}

@media screen and (max-width: 480px) {
  .popup-text {
    width: 100%;
    padding: 30px 10px;
    text-align: justify;
  }

  .popup-image {
    width: 70%;
  }

  .popup-image img {
    margin: 0 auto;
    width: 100%;
  }

}

.p-dialog-title.ng-star-inserted {
  font-size: 3vw;
  color: var(--text-color);
}


.p-dialog-header-close-icon {
  color: var(--text-color);
  font-size: 1.5vw;
}

.p-dialog {
  border: 2px solid var(--text-color);
}

.p-dialog-content {
  background-color: var(--text-color);
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  flex-direction: row;
}

.popup-text {
  color: black;
  font-size: 1.4vw;
  width: 70%;
  padding: 0px 20px;
  text-align: justify;
}

.p-paginator {
  background-color: var(--body-color);;
}

.p-ripple.p-element.p-paginator-page.p-paginator-element.p-link {
  font-size: 20px;
  background-color: var(--text-color);
  color: black;
}

.p-ripple.p-element.p-paginator-page.p-paginator-element.p-link:hover {
  color: orangered;
  border: 0.2vw solid orangered;
}

.p-ripple.p-element.p-paginator-element.p-link {
  font-size: 20px;
  background-color: var(--text-color);
  color: black;
}

.p-ripple.p-element.p-paginator-element.p-link:hover {
  color: orangered;
  border: 0.2vw solid orangered;
  background-color: var(--text-color);
}


/*Задній фон*/
#todo .p-paginator {
  background-color: white;
  border: solid #e9ecef;
  border-radius: 0;
  margin-top: 50px;
}

#todo .p-ripple.p-element.p-paginator-page.p-paginator-element.p-link {
  font-size: 20px;
  background-color: white;
  color: black;
}

#todo .p-ripple.p-element.p-paginator-element.p-link {
  font-size: 20px;
  background-color: white;
  color: black;
}

#todo .p-ripple.p-element.p-paginator-page.p-paginator-element.p-link:hover {
  border: 0.2vw solid var(--text-color);
}

#todo .p-ripple.p-element.p-paginator-element.p-link:hover {
  color: orangered;
  border: 0.2vw solid var(--text-color);
}


:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --title-color: hsl(40, 48%, 12%);
  --text-color: hsl(40, 24%, 24%);
  --body-color: hsl(40, 4%, 88%);
  --container-color: hsl(40, 48%, 88%);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Montserrat", sans-serif;
  --biggest-font-size: 1.75rem;
  --h2-font-size: 1.25rem;
  --normal-font-size: .938rem;
  --small-font-size: .875rem;

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1024px) {
  :root {
    --biggest-font-size: 2rem;
    --normal-font-size: 1rem;
    --small-font-size: .938rem;
  }


}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  background-color: var(--container-color);
  color: var(--text-color);
  transition: background .4s;
  scroll-behavior: smooth;
}

h1, h2, h3, h4 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.resume__title {
  font-size: var(--normal-font-size);
  display: inline-flex;
  align-items: center;
  margin-bottom: .25rem;
}

.resume__title i {
  font-size: 1.5rem;
}

.ri-arrow-left-circle-fill {
  font-size: 1.8rem;
}

.ri-arrow-left-circle-fill:hover {
  opacity: 70%;
}

.ri-arrow-left-circle-fill:active {
  opacity: 50%;
}


.resume__data {
  display: grid;
  row-gap: .5rem;
  padding-left: 1.5rem;
  font-size: var(--small-font-size);
}

.resume__button-link {
  width: max-content;
  color: var(--text-color);
  display: inline-flex;
  column-gap: .25rem;
  font-weight: var(--font-semi-bold);
}

.resume__button-link:hover {
  text-decoration: underline;
}

/*=============== THEME ===============*/
.change-theme {
  font-size: 1.5rem;
  color: var(--title-color);
  cursor: pointer;

}


/*========== Variables Dark theme ==========*/
body.dark-theme {
  --title-color: hsl(40, 48%, 90%);
  --text-color: hsl(40, 12%, 70%);
  --body-color: hsl(40, 12%, 16%);
  --container-color: hsl(40, 20%, 8%);
}

/*==========
  Color changes in some parts of
  the website, in dark theme
==========*/
.dark-theme :is(.nav__menu, .scrollup) {
  background-color: hsl(40, 20%, 12%);
}

.dark-theme .home__profession {
  text-shadow: 0 0 6px hsl(40, 20%, 12%);
}

.dark-theme::-webkit-scrollbar {
  background-color: hsl(40, 16%, 15%);
}

.dark-theme::-webkit-scrollbar-thumb {
  background-color: hsl(40, 16%, 25%);
}

.dark-theme::-webkit-scrollbar-thumb:hover {
  background-color: hsl(40, 16%, 35%);
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1500px;
  /*margin-inline: 1.5rem;*/
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.section {
  padding-block: 5rem 1rem;
}

.section__title {
  width: 100%;
  margin: 0 auto 2.5rem;
  font-size: var(--h2-font-size);
  font-weight: var(--font-semi-bold);
  border-bottom: 2px solid var(--title-color);
  padding-bottom: .75rem;
}

/*=============== SCROLL BAR ===============*/
::-webkit-scrollbar {
  width: .6rem;
  border-radius: .5rem;
  background-color: hsl(40, 16%, 75%);
}

::-webkit-scrollbar-thumb {
  border-radius: .5rem;
  background-color: hsl(40, 16%, 55%);
}

::-webkit-scrollbar-thumb:hover {
  background-color: hsl(40, 16%, 35%);
}

/*=============== SCROLL UP ===============*/
.scrollup {
  position: fixed;
  right: 1rem;
  bottom: 10%;
  background-color: var(--container-color);
  box-shadow: 0 4px 16px hsla(40, 48%, 4%, .15);
  display: inline-flex;
  padding: 6px;
  font-size: 1.25rem;
  color: var(--title-color);
  border-radius: .25rem;
  z-index: var(--z-tooltip);
  transition: bottom .4s, transform .4s, background .4s;
}

.scrollup:hover {
  transform: translateY(-.25rem);

}

/* Show Scroll Up */
.show-scroll {
  bottom: 7rem;
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen  and (max-width: 350px) {
  .skills__container {
    display: flex;
    flex-wrap: wrap;
  }

  .container {
    margin-inline: 1rem;
  }

  .nav__menu {
    padding-inline: 2rem;
  }

  .home__star-1 {
    left: 0;
  }

  .home__star-2 {
    right: -.5rem;
  }

  .skills__content {
    grid-template-columns: max-content;
    row-gap: 1rem;

  }
}

@media screen  and (min-width: 350px) {
  .skills__container {
    display: flex;
    flex-wrap: wrap;
  }


}


/* For medium devices */
@media screen  and (min-width: 576px) {
  .skills__container {
    display: flex;
    flex-wrap: wrap;
  }

  .nav__menu {
    margin-inline: auto;
  }

  .show-scroll {
    bottom: 3rem;
  }
}

@media screen  and (min-width: 768px) {
  .skills__container {
    display: flex;
    flex-wrap: wrap;
  }

  .section {
    padding-top: 2.5rem;
  }

  .section__title {
    margin: 0 0 2rem;
  }

  .resume__main {
    display: flex;
    flex-wrap: wrap;
  }

  .resume__right {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }

  .resume__left,
  .resume__right {
    padding-inline: 1.5rem;
  }
}

/* For large devices */
@media screen  and (min-width: 1024px) {
  body {
    background-color: var(--container-color);
  }

  .resume {
    background-color: var(--container-color);
    box-shadow: 0 0 48px hsla(40, 48%, 12%, .2);
    /*margin-inline: 4rem;*/
    transition: background .4s;
  }

  .resume__main {
    grid-template-columns: 376px 1fr;
  }

  .dark-theme .resume {
    box-shadow: 0 0 48px hsla(40, 48%, 4%, .4);
  }

  .skills__container {
    display: flex;
    flex-wrap: wrap;
  }
}
